<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Sudoku Index</title>
</head>
<body>
This template is just an example of Twig template engine
<div id="app"></div>

<script>
    window.sudoku = {
        config: {},
    };
    window.sudoku.config = {{ config|json_encode()|raw }};
</script>
</body>
</html>
